.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* ----------------------- custom css------------------------------------------------ */
.button-white {
  background-color: #FFFFFF;
  border-radius: 25px 0px;
  height: fit-content;
  width: fit-content;
  color: #184E82;
}

.nav-link {
  text-transform: uppercase;
}

/*-------------------------- image hover gallery ------------------------------------*/
.container-custom {
  position: relative;
}

.image {
  opacity: 1;
  /* display: block; */
  height: 30vh;
  width: 30vw;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container-custom:hover img {
  opacity: 0.6;
}

.container-custom:hover .middle {
  opacity: 1;
}

.text {
  background-color: #000000;
  color: white;
  font-size: medium;
  padding: 0px 0px;
}

.bg-no-overlay {
  background: url("https://unsplash.imgix.net/photo-1416339442236-8ceb164046f8?q=75&fm=jpg&s=8eb83df8a744544977722717b1ea4d09");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 450px;
  padding-top: 50px;
}

/*-------------------------------------------------------*/
/* the slides*/
.slick-slide {
  /* margin: 13px 0px; */
  width: auto;
  padding-left: 1%;
}

/* the parent */
/*
.slick-list {
	margin: 0 0px;
} */
.slick-prev:before {
  color: #184E82 !important;
  background-color: #eee;
}

.slick-next:before {
  color: #184E82 !important;
  background-color: #eee;
}

@media (min-width:1024px) {
  /* #img-health {
    margin-left: 59%;
  } */
}

@media only screen  and (min-width:329px)and (max-width:350px)
{
  .slick-slide
  {
    padding: 15%;
  }
  /* #hospital-contact{
    margin-top:10px;
    margin-left: 30%;
  } */
}
@media (min-width:450px) and (max-width:768px) {
  /* .contact-container {
    width: fit-content;
  }
  #img-health {
    margin-left:70% !important;
    margin-top:10px;
    margin-bottom: 10px;
  }
  #social-media {
    float: none;
    width: 30%;
    text-align: center;
  }
   #hospital-name{
    margin-left: 150px;
  }
  #hospital-contact{
    margin-left: 20px;
  } */
}
@media (min-width: 320px) and (max-width:325px) {
  /* #hospital-name {
    margin-left: 10%;
  }
  #hospital-contact {
    margin-top: 10px;
    margin-left: 20%;
  }
  #img-health {
    margin-left: 45% !important;
    margin-top:10px;
  }
  #social-media {
    float: none;
    margin-top: 10px;
    text-align: center;
    margin-left: -60px;
  } */
}
@media (min-width:325px) and (max-width:450px) {
  /* #img-health {
    margin-top: 10px;
    margin-left: 90% !important;
    margin-bottom: 10px;
  }
  #social-media {
    float: none;
    width: 50%;
    margin-top: 10px;
    text-align: center;
  }
  #hospital-contact{
    margin-left: 1px;
  } */
}

@media only screen and (max-width:1024px) { 
  #hospital-contact {
    margin-top: 8px;
    margin-left: 0px;
  }
  /* #hospital-contact  {
    margin-top: 10px;
    margin-left:0px;
  }
  .img1
  {
    margin: 0;
    left: 50%;
  } */
}
@media only screen and (max-width:768px) {
  .margin-top {
    margin-top: 285px !important;
    width: 100% !important;
  }
  #img-health {
    margin-top: 20px;
  }
  #hospital-contact {
    margin-top: 15px;
  }
}
@media only screen and (min-width:450px) and (max-width:768px) {
  .margin-top {
    margin-top: 248px !important;
    width: 100% !important;
  }
}
@media only screen and (min-width:450px) and (max-width:768px) {
  .margin-top {
    margin-top: 248px !important;
    width: 100% !important;
  }
}
@media only screen and (min-width:450px) and (max-width:768px) {
  .margin-top {
    margin-top: 206px !important;
    width: 100% !important;
  }
}
@media only screen and (min-width:325px) and (max-width:475px) {
  .margin-top {
    margin-top: 248px !important;
    width: 100% !important;
  }
}
/* .img1
{
  float: right;
  margin-top: 0px;
  border-radius: 100px 0px;
  margin-left: 0px !important;
  margin-right: 0px !important;
} */

@media (min-width: 1024px) {
  .margin-top, .image-custom {
    margin-top: 67px !important;
    width: 100% !important;
    height: 400px;
  }
}